<!DOCTYPE html>
<html>
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Accounts and assets widget demo</title>
    <script
      src="<%= widgetScriptsUrl %>/accounts-assets.js"
      data-identityuri="<%= identityUrl %>"
      data-apigatewayuri="<%= apiGatewayUrl %>"
    ></script>
  </head>
  <body>
    <div id="app"></div>
    <script>
      window.moneyhub.init({
        elem: document.getElementById("app"),
        getJWT: () =>
          fetch("/jwt")
            .then(res => res.json())
            .then(({jwt, error}) => {
              if (error) throw new Error(error)
              return jwt
            })
      })
    </script>
  </body>
</html>