<!DOCTYPE html>
<html>
  <head>
    <title>Accounts and assets widget demo</title>
    <script
      src="<%= widgetScriptsUrl %>/accounts-assets.js"
      data-identityuri="<%= identityUrl %>"
      data-apigatewayuri="<%= apiGatewayUrl %>"
    ></script>
  </head>
  <body>
    <div>Accounts:</div>

    <div id="app">placeholder</div>

    <script>
      window.moneyhub.init({
        elem: document.getElementById("app"),
        getJWT: () =>
          fetch("/jwt")
            .then(res => res.json())
            .then(({jwt, error}) => {
              if (error) throw new Error(error)
              return jwt
            })
      })
    </script>
  </body>
</html>