<!DOCTYPE html>
<html>
  <head>
    <script src="<%= identityUrl %>/widget-pages/<%= widgetId %>"></script>
  </head>
  <body>
    <div>Accounts:</div>

    <div id="app">placeholder</div>

    <script>
      window.moneyhub.init({
        elem: "app",
        widget: "<%= widgetId %>",
        getJWT: (userId) =>
          fetch(
            "/jwt",
            {
              body: JSON.stringify({userId}),
              method: "POST",
              headers: {"Content-Type": "application/json"}
            }
          )
            .then(res => res.json())
            .then(({jwt, error}) => {
              if (error) throw new Error(error)
              return jwt
            })
      })
    </script>
  </body>
</html>